<!DOCTYPE html>
<html>
<head>
 <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="static/tableCss.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/main.css">
 <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
 <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script> 
</head>
<body>


<form >

<div ng-app="myApp" ng-controller="myCtrl">
 <table>
            <caption> Todo List</caption>
                <thead>
                    <tr>
                        <td>
                            <input type="text" ng-model="main" name="taskname">
                            <button type="submit" ng-click="sendinURL()" class="btn-primary">Add Task</button>

                        </td><td>
                        Search :<input type="text" ng-model="search"> 

                        </td>
                    </tr>
                    <tr>
                        <th>Task Id</th>
                        <th>Task</th>
                    </tr>
                </thead>
                
                <tbody>
                   
                    <tr data-ng-repeat="user in tasks.tasks | filter : search ">
                  
                        <td> // user.uid // </td>
                         <td >  <input type="text" id="ddd" name="updatedText" ng-model="user.taskname"  ng-disabled="!disable"  value="//user.taskname//"> 

                         <input type="image" value="//user.taskname//" class="deleteImg" ng-click=deleteIt(user.taskname) src="static/img/trash_can.png" height="15px" width="18px" name="removeId"  > 

                          <input type="image" ng-hide="okbtnstatus" ng-click="updateIt(user.taskname)"  src="static/img/okbtn.png"  height="15px" width="18px" name="editId" value="//user.uid//">
                         
                          <a href="#" ng-click="editbuttonClicked(user.taskname)" > <span ng-hide="editbtn" ng-click="disable=!disable; okbtnstatus=false; cancelbtn=false; editbtn=true;" class="glyphicon glyphicon-pencil"></span></a>
                         
                           <a href="#"><span ng-hide="cancelbtn" ng-click="editbtn=false; okbtnstatus=true; cancelbtn=true;disable=!disable;" class="glyphicon glyphicon-remove"></span></a>
                         </td>
                    </tr>
           
                </tbody>
            </table>
         


   </div>
   </form>
</body>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope,$http){
    $scope.cancelbtn=true;
    $scope.okbtnstatus=true;
    $scope.tasks=[];
    var iamGlobal;
     $scope.editbuttonClicked =function(makeMeGlobal){
        alert(makeMeGlobal)
        $scope.iamGlobal=makeMeGlobal;
     }

         

     $http.get("/items").then(function(response){
         //handle your response here
         $scope.tasks = response.data
          console.log($scope.tasks)

    });
     $scope.sendinURL = function (){
        var data =$scope.main 
        $http({
    method : "POST",
    url : "item/"+data
  }).then(function mySuccess(response) {
       
    }, function myError(response) {
    
  });

     }

     $scope.deleteIt = function(value){
     
        var data = value
        $http({
            method:"DELETE",
            url:"item/"+data
        }).then(function mySuccess(response){
           
        }, function myError(response){
            
        });
     }

     $scope.updateIt = function(value1){
       
    

        $http({
            method: "PUT",
            url:"item/"+$scope.iamGlobal,
            headers: { 'Content-Type': 'application/json' },
            data: { newTask: value1 }
        }).then(function mySuccess(response){
            
        }, 
            function myError(response){
                
            });
     }  

});


 app.config(function($interpolateProvider) {
            $interpolateProvider.startSymbol('//').endSymbol('//');
        });

</script>
</html>