<!Doctype html>
<html>
	<head>
		<link href = "static/main.css" rel="stylesheet">
		<meta http-equiv="content-type" content="application/json">
	</head>
	<body>
		<header>
			<div class = "container">
				<h1 class="title">Sign In</h1>
			</div>
		</header>

		<main class="hero-section">
			<div class="container">
				<form>
				<div class="section-content">
				<table>
					<tr>
						<td>
							User Name 
						</td>
						<td>
							 <input type="textbox" name="username" id="txt_Username">
						</td>
					</tr>
					<tr>
						<td>
							Password  
						</td>
						<td>
							 <input type="textbox" name="password" id="txt_Password">
						</td>
					</tr>
					
				 </table>
				  
				<button type="submit" formmethod="post" formaction="/auth" class="btn-primary">Sign up</button>
				</div>
				</form>
				<div class="section-device">
				<img src="static/img/device.png">
				</div>

				<div class="clearfix"></div>


			</div>



		</main>





	</body>

</html>